<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:fragment="master(title, sidebar, content, actorCss, actorJs)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:replace="${title}">CineFlow Cinema System</title>

    <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <th:block th:replace="${actorCss}" />
</head>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{layout/header :: header}"></div>

<div class="d-flex flex-grow-1">
    <th:block th:replace="${sidebar}" />

    <main class="flex-grow-1 p-4">
        <div th:replace="${content}"></div>
    </main>
</div>

<div th:replace="~{layout/footer :: footer}"></div>

<script th:src="@{/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/common.js}"></script>

<th:block th:replace="${actorJs}" />
</body>
</html>